@gcp-integ-nodejs:registry=https://us-west1-npm.pkg.dev/gcp-integ-artifactregistry/gcp-integ-nodejs/
//us-west1-npm.pkg.dev/gcp-integ-artifactregistry/gcp-integ-nodejs/:_authToken=""
//us-west1-npm.pkg.dev/gcp-integ-artifactregistry/gcp-integ-nodejs/:always-auth=true
